RewriteEngine on

# Old ComicRank buttons
RewriteRule ^view/([0-9]+)/([0-9]).(png|gif|jpg|blank)$ http://view.comicrank.com/1/0.$3 [L]
RewriteRule ^view/([0-9]+)/([0-9]).(png|gif|jpg|blank)/([0-9]+)$ http://view.comicrank.com/1/0.$3 [L]
RewriteRule ^view/([0-9]+).(png|gif|jpg|blank)$ http://view.comicrank.com/1/0.$2 [L]

# Old ComicRank site
RewriteRule ^([0-9]+)/in/?$ / [R=301,L]
RewriteRule ^([0-9]+)/?$ - [G,L]
RewriteRule ^(panel|top50|recent|movers) - [G,L]
RewriteRule ^(about|contact|terms)\.php$ /$1 [R=301,L]

# New ComicRank site
AddDefaultCharset UTF-8
ErrorDocument 403 /error/403
ErrorDocument 404 /error/404
ErrorDocument 410 /error/410
ErrorDocument 500 /error/500
ErrorDocument 503 /error/503

# Block git directory
RewriteRule \.git - [F,L]

# Cache files in static forever, cache-busting on each release
RewriteRule ^static/\:[0-9a-z]+/(.*)$ static/$1
SetEnvIf Request_URI "^/static/" staticcache
Header set Cache-Control "max-age=31104000, public" env=staticcache

# For now button links just redirect to home
RewriteRule ^comic/([0-9a-z]{4})/in/?$ / [R=302,L]

# All requests filter through index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L]
