html, body {margin: 0; padding: 0; height: 100%; width: 100%;}
body {
	background: #fbfdff;
	
	font-size: 14px;
	line-height: 20px;
	color: #333;
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: #059;
	text-decoration: none;
}
a img {
	border: none 0;
}
a:hover {
	color: #037;
	text-decoration: underline;
}
a:active {
	color: #086;
}

#headband {
	position: absolute;
	top: 0; left: 0; right: 0;
	
	height: 124px;
	background: #fff url(../images/headbackground.png);
	box-shadow: 0 0 20px #05a;
}
#headband>div {
	position: relative;
	margin: 3px auto 0;
	width: 798px;
}
#headband nav {
	position: absolute;
	top: 122px;
	left: 35px;
	right: 35px;
}
#headband nav ul {
	margin: 0;
	padding: 0;
}
#headband nav li {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}
#headband nav li a {
	display: block;
	padding: 0 15px;
	font-size: 14px;
	height: 22px;
	line-height: 24px;
	border-bottom: solid 2px #E4EDFC;
}
#headband nav li a:hover {
	border-bottom-color: #037;
	text-decoration: none;
}


#wrap {
	min-height: 100%;
	
	width: 728px;
	margin: 0 auto;
	padding: 0;
}
#wrap>h1 {
	margin: 0;
	height: 153px;
	visibility: hidden;	
}






.sectionbox {
	margin: 20px 0;
	padding: 10px;
	
	background: #fff;
	background: rgba(255, 255, 255, 0.96);
	border: solid 1px #E4EDFC;
	
	font-size: 14px;
	line-height: 1.5em;
	color: #333;
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
}
.sectionbox.transparent {
	background: transparent;
	border: none 0;
}
.sectionbox>header {
	margin: -10px -10px 10px;
	padding: 13px 10px 8px;
	border-bottom: solid 1px #E4EDFC;
	color: #555;
}
.sectionbox>footer {
	margin: 0 -10px -10px;
	padding: 0 10px;
	font-size: 12px;
	color: #555;
}
.sectionbox>header>h1 {
	margin: 0;
	padding: 0 0 5px;
	
	font-size: 24px;
	font-weight: normal;
	color: #06a;
}

.section_grid {
	margin: -10px 0;
	width: 100%;
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
}
.section_grid>div {
	padding: 0 10px;
	
	display: table-cell;
	vertical-align: top;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.section_grid>div:first-child {
	padding-left: 0;
}
.section_grid>div:last-child {
	padding-right: 0;
}
.section_grid>div.full {width: 100%;}
.section_grid>div.half {width: 50%;}
.section_grid>div.third {width: 33.333%;}
.section_grid>div.twothirds {width: 66.666%;}

.sectionbox h2 {
	margin: 1.5em 0 1em;
	padding: 0;
	
	font-size: 20px;
	font-weight: normal;
	color: #06a;
}
.sectionbox h2.small {
	margin: 1em 0;
	font-size: 100%;
}
.sectionbox p {
	margin: 1em 0;
}
.sectionbox ul, .sectionbox ol {
	margin: .5em 0 1em;
	padding: 0 0 0 2em;
}
.sectionbox li {
	margin: 0;
	padding: 0 0 .5em;
}
.sectionbox ul.transparent, .sectionbox ol.transparent {
	list-style: none;
	padding: 0;
}






time {
	white-space: nowrap;
}



form {
	margin: 0 20px;
}

label {
	display: block;
	margin: .5em 0 0;
}

input {
	margin: 3px 0 .5em;
	border: solid 1px #aaa;
}
label input {
	margin: 0;	
}

.big label {
	font-size: 16px;
}
.big input {
	padding: 5px;
	font-size: 16px;
	width: 300px;
}
.big input[type=checkbox],
.big input[type=radio] {
	width: auto;
}

.big button {
	margin: 1em 0;
	padding: 4px;
	font-size: 16px;
}
